.content {
    display: flex;
    width: 1190px;
    height: 3451px;
    padding: 20px 30px;
    margin: 0px auto;
}

.main-box {
    width: 750px;
    margin-right: auto;

}

#main-box1 {
    width: 750px;
    height: 135px;
    vertical-align: top;
    background-color: rgb(124, 146, 124);
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-box2 {
    width: 750px;
    height: 49px;
    padding: 12px 15px 11px 15px;
    border: 1px solid #dae1e6;
    position: relative;
    top: 11px;
    
}

#main-box3 {
    width: 750px;
    height: 18px;
    padding: 22px 0px 16px;
}


#sub {
    width: 350px;
}